<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Audi Consult Agro</h1>
                    <hr class="intro-divider">
                    <h3>Consultoria de Qualidade ISO</h3>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="content-section-a">

    <div class="container">
        <div class="row">
                        <hr>
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Auditoria Interna</h2>
                <p class="lead">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Cumque illo consectetur ab sint tempore eum.
                                        Consequatur architecto praesentium, beatae,
                                        libero aliquam sapiente rerum iure saepe voluptates
                                        error accusamus optio maiores voluptatum corrupti provident minus natus? Aut,
                                        eligendi tenetur nobis rerum officiis, porro esse reiciendis praesentium sed quidem
                                        soluta assumenda, laudantium qui. Et voluptatibus dignissimos vitae veritatis.
                                    </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                                <%= image_tag "image1.jpg", :class => "img-responsive" %>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Assessoria</h2>
                    <p class="lead">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Cumque illo consectetur ab sint tempore eum.
                                        Consequatur architecto praesentium, beatae,
                                        libero aliquam sapiente rerum iure saepe voluptates
                                        error accusamus optio maiores voluptatum corrupti provident minus natus? Aut,
                                        eligendi tenetur nobis rerum officiis, porro esse reiciendis praesentium sed quidem
                                        soluta assumenda, laudantium qui. Et voluptatibus dignissimos vitae veritatis.
                                    </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <%= image_tag "image2.jpg", :class => "img-responsive" %>
            </div>
        </div>

    </div>
</div>

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Treinamento</h2>
                <p class="lead">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Cumque illo consectetur ab sint tempore eum.
                                        Consequatur architecto praesentium, beatae,
                                        libero aliquam sapiente rerum iure saepe voluptates
                                        error accusamus optio maiores voluptatum corrupti provident minus natus? Aut,
                                        eligendi tenetur nobis rerum officiis, porro esse reiciendis praesentium sed quidem
                                        soluta assumenda, laudantium qui. Et voluptatibus dignissimos vitae veritatis.
                                    </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag "image3.jpg", :class => "img-responsive" %>
            </div>
        </div>

    </div>

</div>