<div class="container">
			<hr class="intro-divider">
			<div class="row">
				<div class="col-md-8">
					<div class="clearfix"></div>
					<h2 class="jumbotron">Obrigado pelo seu contato!</h2>
					<p>Retornaremos em breve</p>
				</div>
				<div class="col-md-4">

				</div>
			</div>
			<hr>
		</div>
