<div class="content-section-b">
	<div class="container">
			<div class="row">
					<div class="col-md-12">
							<div class="clearfix"></div>
							<div class="page-header">
									<h3>Sobre:</h3>
							</div>
								<p class="lead">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								Cumque illo consectetur ab sint tempore eum.
								Consequatur architecto praesentium, beatae,
								libero aliquam sapiente rerum iure saepe voluptates
								error accusamus optio maiores voluptatum corrupti provident minus natus? Aut,
								eligendi tenetur nobis rerum officiis, porro esse reiciendis praesentium sed quidem
								soluta assumenda, laudantium qui. Et voluptatibus dignissimos vitae veritatis.
								libero aliquam sapiente rerum iure saepe voluptates
							</p>
					</div>
			</div>
				
			<hr>	

			<div class="row">
				
						<div class="col-md-4"  align="center">
						<h2>Missão</h2>
						<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
						<p><a class="btn btn-default" href="#" role="button">Mais &raquo;</a></p>
										</div><!-- /.col-lg-4 -->
										

						<div class="col-md-4"  align="center">
						<h2>Visão</h2>
						<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
												<p><a class="btn btn-default" href="#" role="button">Mais &raquo;</a></p>
												
						</div><!-- /.col-lg-4 -->
						<div class="col-md-4"  align="center">
						<h2>Valores</h2>
						<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
						<p><a class="btn btn-default" href="#" role="button">Mais &raquo;</a></p>
					</div><!-- /.col-lg-4 -->
			</div><!-- /.row -->	
	</div>
</div>